.containerCenter {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login {
    margin-top: 2rem;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1.5rem;
}

.login h1 {
    color: black;
    padding-bottom: 1rem;
}

.login form {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.login form button {
    height: 40px;
    font-size: 1.2rem;
}

.login button {
    margin-top: 12px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
}

.login input{
    background-color: black;
    margin-bottom: 15px;
    padding: 10px;
    color: white;
}

.text {
    margin-top: 1rem;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 620px) {
    .login {
        width: 90%;
    }
}